.btn {
    background-color: #c5e09b;
    border-radius: 4px;
    /* border: honeydew; */
    border:#c1ff46;
    margin: 5px;
    margin-top: 12px;
    justify-self: center;
    width: 60%;
    height: 27px;
    color: black;
    font-weight: normal;
    font-size: medium;
}

.active, .btn:hover  {
    background-color:#7cba01;
    border-radius: 4px;
    /* border: honeydew; */
    border:none !important;
    margin: 5px;
    margin-top: 12px;
    justify-self: center;
    width: 60%;
    height: 27px;
    color: black;
    font-weight: normal;
    font-size: medium;
}
.btn:disabled {
    background-color: #c5e09b;
    border-radius: 4px;
    /* border: honeydew; */
    border:#c1ff46;
    margin: 5px;
    margin-top: 12px;
    justify-self: center;
    width: 60%;
    height: 27px;
    color: white;
    font-weight: normal;
    font-size: medium;
}