.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 95%;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.header {
    grid-column: span 2;
    align-self: center;
    text-align: center;
    color: black;
    justify-content: center;
}

.borderBottom {
    border-bottom: 1px solid grey;
    width: 70%;
    justify-self: end;
    margin: auto;
}
